/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
}

aside {
  width: 420px;
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
}

aside strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: #333;
}

aside form {
  margin-top: 30px;
}

aside form .input-block + .input-block {
  margin-top: 20px;
}

.input-label {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.input-label label {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5061fc;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

aside form .input-block {
  margin-top: 0px;
}

aside form .input-block label {
  color: #acacac;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

aside form .input-block input {
  width: 100%;
  height: 32px;
  font-size: 16px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

aside form button[type="submit"] {
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #5061fc;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

aside form button[type="submit"]:hover {
  background: #6674f4;
}

aside form button[type="submit"]:active {
  background: #3346f0;
}

.input-block select {
  width: 100%;
  height: 32px;
  font-size: 16px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
  background-color: transparent;
  cursor: pointer;
}

.input-block select:hover,
.input-block select:focus {
  border-bottom-color: #6674f4;
}
